albumentations~=1.1.0
importlib_resources~=5.7.1
matplotlib~=3.4.3
monai~=0.8.0
numpy~=1.21.2
opencv_python~=4.5.3.56
Pillow~=9.1.1
PyYAML~=6.0
scikit_image~=0.18.3
scipy~=1.7.1
segmentation_models_pytorch~=0.2.0
setuptools~=44.1.1
torch~=1.9.1
tqdm~=4.62.3
