albumentations~=1.1.0
matplotlib~=3.5.1
monai~=0.8.1
numpy~=1.22.3
opencv_python_headless~=4.5.5.64
Pillow~=9.1.0
PyYAML~=6.0
segmentation_models_pytorch~=0.2.1
setuptools~=44.1.1
torch~=1.11.0
tqdm~=4.64.0
